# Data Engineering for the 2015 and 2018 data

This notebook formats the 2015 and 2018 data to be used as input/output for the pipeline being build in the `DMD-Demo.ipynb`

## Dataset chooser

In [ ]:
def main():
    outputPath = sys.argv[1] # chatstatus['output-directory']
    outputFile = sys.argv[2] # output file name
    dataset    = sys.argv[3]

    outputFile = os.path.join(outputPath, outputFile)
    
    print('******************************')
    print('Dataset Selector')
    print('******************************')

    out_path = "/nfs/turbo/umms-indikar/shared/projects/geneformer/data/rajapakse_lab_data.h5ad"
    ad = an.read(out_path)
    
    if dataset == '2015':
        ds = 'chen_2015'
    elif dataset == '2018':
        ds = 'liu_2018'
    else:
        print('Dataset is invalid!')

    adDs = ad[ad.obs['dataset'] == 'liu_2018']
    adDs.write(outputFile)

In [2]:
import anndata as an

In [6]:
out_path = "/nfs/turbo/umms-indikar/shared/projects/geneformer/data/rajapakse_lab_data.h5ad"
ad = an.read(out_path)
#adata
ad

/home/jpic/.local/lib/python3.11/site-packages/anndata/__init__.py:55: FutureWarning: `anndata.read` is deprecated, use `anndata.read_h5ad` instead. `ad.read` will be removed in mid 2024.
  warnings.warn(

AnnData object with n_obs × n_vars = 66 × 19393
    obs: 'dataset', 'sample_id', 'timepoint', 'hour', 'n_counts', 'control'
    var: 'gene_id', 'token_id', 'Chromosome', 'Source', 'Feature', 'Start', 'End', 'Score', 'Strand', 'Frame', 'gene_version', 'gene_source', 'gene_biotype', 'transcript_id', 'transcript_version', 'transcript_name', 'transcript_source', 'transcript_biotype', 'tag', 'ccds_id', 'exon_number', 'exon_id', 'exon_version', 'protein_id', 'protein_version', 'transcript_support_level', 'ensembl_id'

In [14]:
sum(ad.obs['dataset'] == 'liu_2018')

48

In [23]:
adDs = ad[ad.obs['dataset'] == 'liu_2018']

## Standard TPM formatting

Take the `.h5ad` files and make pickle files where `X` is state variables by time by replicates

In [9]:
import numpy as np

In [32]:
out_path = '/home/jpic/BRAD/2024-06-30_16-39-42/S0-2018.h5ad'
ad = an.read(out_path)

# stateType = 'Gene Name'
# states = list(ad.var.index)

/home/jpic/.local/lib/python3.11/site-packages/anndata/__init__.py:55: FutureWarning: `anndata.read` is deprecated, use `anndata.read_h5ad` instead. `ad.read` will be removed in mid 2024.
  warnings.warn(

In [33]:
ad

AnnData object with n_obs × n_vars = 48 × 19393
    obs: 'dataset', 'sample_id', 'timepoint', 'hour', 'n_counts', 'control', 'order', 'replicate', 'batch'
    var: 'gene_id', 'token_id', 'Chromosome', 'Source', 'Feature', 'Start', 'End', 'Score', 'Strand', 'Frame', 'gene_version', 'gene_source', 'gene_biotype', 'transcript_id', 'transcript_version', 'transcript_name', 'transcript_source', 'transcript_biotype', 'tag', 'ccds_id', 'exon_number', 'exon_id', 'exon_version', 'protein_id', 'protein_version', 'transcript_support_level', 'ensembl_id'

In [34]:
n = ad.shape[1]
T = ad.obs['order'].nunique()
R = ad.obs['replicate'].nunique()
X = np.zeros((n, T, R))

In [35]:
timepoints = ad.obs['order'].unique()
replicates = ad.obs['replicate'].unique()

In [48]:
for i in range(ad.obs.shape[0]):
    order = ad.obs['order'][i]
    replicate = ad.obs['replicate'][i]

    time = np.where(timepoints == order)[0][0]
    rep = np.where(replicates == replicate)[0][0]

    X[:, time, rep] = ad.X[i, :]

states = list(ad.var.index)
metadata = ad.var

# Please write code to save X, states, and metadata to a pkl file at output_file

In [50]:
ad.var

,gene_id,token_id,Chromosome,Source,Feature,Start,End,Score,Strand,Frame,...,transcript_biotype,tag,ccds_id,exon_number,exon_id,exon_version,protein_id,protein_version,transcript_support_level,ensembl_id
gene_name,,,,,,,,,,,,,,,,,,,,,
A1BG,ENSG00000121410,5150.0,19,ensembl_havana,gene,58345177.0,58353492.0,.,-,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000121410
A1CF,ENSG00000148584,9064.0,10,ensembl_havana,gene,50799408.0,50885675.0,.,-,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000148584
A2M,ENSG00000175899,13826.0,12,ensembl_havana,gene,9067663.0,9116229.0,.,-,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000175899
A2ML1,ENSG00000166535,11812.0,12,ensembl_havana,gene,8822620.0,8887001.0,.,+,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000166535
A3GALT2,ENSG00000184389,15327.0,1,ensembl_havana,gene,33306765.0,33321098.0,.,-,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000184389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,ENSG00000203995,17515.0,1,ensembl_havana,gene,52842510.0,52894998.0,.,+,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000203995
ZYG11B,ENSG00000162378,10655.0,1,ensembl_havana,gene,52726452.0,52827336.0,.,+,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000162378
ZYX,ENSG00000159840,10336.0,7,ensembl_havana,gene,143381294.0,143391111.0,.,+,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000159840
ZZEF1,ENSG00000074755,1277.0,17,ensembl_havana,gene,4004444.0,4143030.0,.,-,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000074755
ZZZ3,ENSG00000036549,533.0,1,ensembl_havana,gene,77562415.0,77683419.0,.,-,.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENSG00000036549

In [30]:
ad.obs['timepoint']

data_id
S1a    0.0
S1b    0.0
S2a    0.0
S2b    0.0
S3a    1.0
S3b    1.0
S4a    2.0
S4b    2.0
S5a    3.0
S5b    3.0
S6a    4.0
S6b    4.0
S7a    5.0
S7b    5.0
S8a    6.0
S8b    6.0
S9a    7.0
S9b    7.0
Name: timepoint, dtype: float64

# Scratch

In [58]:
import pickle

# Specify the path to the pickle file
pickle_file_path = '/home/jpic/BRAD/2024-06-30_17-53-04/S1-2018.pkl'

# Load the pickle file
with open(pickle_file_path, 'rb') as file:
    data = pickle.load(file)

In [59]:
data['X'].shape

(19393, 16, 3)

In [63]:
import sys
sys.path.append('/home/jpic/BRAD-Tools')
from classes import model # LinearTimeInvariant

In [64]:
import pickle

# Specify the path to the pickle file
pickle_file_path = '/home/jpic/BRAD-Tools/test.pkl'

# Load the pickle file
with open(pickle_file_path, 'rb') as file:
    data = pickle.load(file)

In [70]:
data.f['A'].shape

(19393, 19393)